<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ohjeom">

    <!-- Uses Permission -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_school"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!-- Meta Data -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJTOgWomR0xK5UZEXFHUmjKeDnD9aZtdk" />

        <!-- Activities -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".ui.templates.TemplateActivity" />
        <activity android:name=".ui.templates.templateMaker.MakerActivity1" />
        <activity android:name=".ui.templates.templateMaker.MakerActivity2" />

        <!-- Services -->
        <service android:name=".services.PhoneService" />
        <service android:name=".services.SleepService" />
        <service android:name=".services.WakeupService" />
        <service android:name=".services.WalkService" />
        <service android:name=".services.LocationService1" />
        <service android:name=".services.LocationService2" />
        <service android:name=".services.LocationService3" />
        <service android:name=".services.StartService" />
        <service android:name=".services.PaymentService" />
        <service android:name=".services.WeatherService"/>

        <receiver
            android:name=".receivers.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="com.test.alarmtestous.ALARM_START" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>