<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ohjeom">

    <!-- Uses Permission -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_school"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Meta Data -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAJwn6eRf35L370GtqtYzUROb2YpVT8KQc" />

        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.templates.TemplateActivity"/>
        <activity android:name=".ui.templates.templateMaker.MakerActivity1"/>
        <activity android:name=".ui.templates.templateMaker.MakerActivity2"/>

        <!-- Services -->
        <service android:name=".services.PhoneService"/>
        <service android:name=".services.SleepService"/>
        <service android:name=".services.WakeupService"/>
        <service android:name=".services.WalkService"/>
        <service android:name=".services.LocationService1"/>
        <service android:name=".services.LocationService2"/>
        <service android:name=".services.LocationService3"/>
        <service android:name=".services.StartService"/>

    </application>

</manifest>